[submodule "AngryBots2"]
	path = AngryBots2
	url = https://github.com/communityus/AngryBots2.git
[submodule "FPSSample"]
	path = FPSSample
	url = https://github.com/communityus/FPSSample.git
[submodule "Gamekit3D"]
	path = Gamekit3D
	url = https://github.com/communityus/Gamekit3D.git
[submodule "obstacle-tower-env"]
	path = obstacle-tower-env
	url = https://github.com/communityus/obstacle-tower-env.git
[submodule "obstacle-tower-challenge"]
	path = obstacle-tower-challenge
	url = https://github.com/communityus/obstacle-tower-challenge.git
[submodule "PrefabWorkflows_3DGameKit"]
	path = PrefabWorkflows_3DGameKit
	url = https://github.com/communityus/PrefabWorkflows_3DGameKit
[submodule "PrefabWorkflows_SpiderRobots"]
	path = PrefabWorkflows_SpiderRobots
	url = https://github.com/communityus/PrefabWorkflows_SpiderRobots
[submodule "VisualEffectGraph-Samples"]
	path = VisualEffectGraph-Samples
	url = https://github.com/communityus/VisualEffectGraph-Samples.git
[submodule "UnityPlayground"]
	path = UnityPlayground
	url = https://github.com/communityus/UnityPlayground.git
[submodule "FontainebleauDemo"]
	path = FontainebleauDemo
	url = https://github.com/communityus/FontainebleauDemo.git
[submodule "Standard-Assets-Characters"]
	path = Standard-Assets-Characters
	url = https://github.com/Unity-Technologies/Standard-Assets-Characters.git
