[submodule "AngryBots2"]
	path = AngryBots2
	url = https://github.com/communityus/AngryBots2.git
[submodule "FPSSample"]
	path = FPSSample
	url = https://github.com/communityus/FPSSample.git
[submodule "Gamekit3D"]
	path = Gamekit3D
	url = https://github.com/communityus/Gamekit3D.git
